
<div id="mysidebar">
    <nav class="bs-docs-sidebar hidden-print hidden-md-down" style="position: fixed;">
    <ul class="nav bs-docs-sidenav">

        {% for entry in sidebar %}
        {% for subcategory in entry.subcategories %}
        <li class="nav-item">

            <!--need a separate structure for external links.-->
            {% if subcategory.url != nil %}
                <a href="{{ subcategory.url }}" target="_blank" class="h4">{{ subcategory.title }}</a>
            {% else %}
                <a href="#" data-target="#{{subcategory.title | replace: ' ', '_'}}" data-toggle="collapse">{{ subcategory.title }}</a>
                <ul id="{{subcategory.title | replace: ' ', '_'}}" class="collapse in nav">
                    {% for item in subcategory.items %}
                    <li class="nav-item"><a class="nav-link" href="{{ item.url | prepend: site.github.url }}">{{item.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
        {% endfor %}

    </ul>
    <a href="#top" class="back-to-top"> Back to top </a>
</nav>
</div>



