<!-- Navigation -->
<nav class="navbar navbar-light bg-faded navbar-fixed-top" role="navigation">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
    </button>

    <div class="container collapse navbar-toggleable-xs" id="exCollapsingNavbar2">

        <a class="navbar-brand" href="{{ base }}/index.html">
            <img src="{{ base }}/common_images/logo.png" style="height:30px; width:30px" />
        </a>

        <a class="navbar-brand" href="{{ base }}/index.html">
            {{site.topnav_title}}
        </a>

        <ul class="nav navbar-nav hidden-md-up">

            {% for entry in sidebar %}
            {% for subcategory in entry.subcategories %}

                <!--need a separate structure for external links.-->
                {% if subcategory.url != nil %}
                    <li class="nav-item"><a  class="nav-link" href="{{ subcategory.url }}" target="_blank">{{ subcategory.title }}</a></li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">{{ subcategory.title }}</a>
                        <ul class="dropdown-menu">
                            {% for item in subcategory.items %}
                                <li class="dropdown-item"><a href="{{ item.url | prepend: site.github.url }}">{{item.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}

            {% endfor %}
            {% endfor %}

        </ul>

        <ul class="nav navbar-nav pull-xs-right">

            {% for entry in topnav %}
                {% for subcategory in entry.subcategories %}
                        {% if subcategory.external_url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{subcategory.external_url}}" target="_blank">
                                {% if subcategory.icon != nil %}
                                <img height="20" width="20" src="{{ subcategory.icon | prepend: site.github.url }}" />
                                {% endif %}
                                {{subcategory.title}}</a></li>
                        {% elsif page.url == subcategory.url %}
                            <li class="nav-item active"><a class="nav-link" href="{{subcategory.url | prepend: site.github.url}}">{{subcategory.title}}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{subcategory.url | prepend: site.github.url }}">{{subcategory.title}}</a></li>
                        {% endif %}
                {% endfor %}
            {% endfor %}

         </ul>

        <!-- /.container -->
    </div>
</nav>
